body{
    background-color:cornsilk
    background-image: ;
    background-blend-mode: luminosity;
}

.content{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    color:cadetblue
}

.title{
    font-family:Georgia, 'Times New Roman', Times, serif
    font-size: 42px;
    color:azure
}

#home{
    color:midnightblue
}

#contact{
    color:darkturquoise
}

a:hover{
    text-decoration: dotted;
}

a{
    text-decoration: none;
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif
    font-weight: 700;
}